body{
    background-color: rgb(209, 209, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(95, 120, 145);
    padding: 20px;
    color:  white;
    text-shadow: 0 0 3px black;
    text-align: center;
    font-size: 200%;
}

footer{
    background-color: black;
    color: white;
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer p{
    padding-top: 10px;
    margin-bottom: 10px;
}

main{
    padding: 10px;
    text-align: center;
}

.addingDiv{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.addBtn{
    padding-top: 0px;
    height: 65px;
}
.addBtn:hover{
    background-color: lightgray;
}
.form-select{
    height: 60px;
    width: 200px;
}

select{
    margin-right: 15px;
}

i{
    font-size: 40px;
}

td{
    vertical-align: middle;
}

td i{
    font-size: 20px;
    margin-right: 15px;
    padding: 2px;
}

td i:hover{
    background-color: lightgrey;
}

table{
    min-width: 730px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1000px) {
    .addingDiv{
        flex-direction: column;
    }

    .addingDiv select{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .addingDiv div{
        margin: auto;
        margin-top: 10px;
        margin-left: 5%;
        width: 90%;
    }
}
h1{
    text-shadow: 0px 0px 5px #FFFFFF;
}