body{
    background-color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: slategray;
    padding: 20px;
    color:  white;
    text-shadow: 0 0 3px black;
    text-align: center;
    font-size: 200%;
}

footer{
    background-color: black;
    color: white;
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
}

main{
    padding: 10px;
    text-align: center;
}

.addingDiv{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    background-color: white;
}

.addingDiv div{
    margin-left: 1%;
    margin-right: 1%;
}

.addNumber{
    min-width: 100px;
}

.btn{
    padding: 15px;
}

i{
    font-size: 40px;
}